[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
pre-commit = "*"
djangorestframework = "*"
pandas = "*"
psycopg2 = "*"
pytest-django = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
